{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <h2>Filter Loan</h2>

    
    <div class="row">
        <div class="col-3"> 
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }} 
                <button type="submit" class="btn btn-primary">Filter Loan</button>
            </form>
        </div>
        <div class="col-sm"> 
        </div>
    </div> </br>
    <h2> {{label}} </h2>
    {{ loans | safe}}

</div>


{% endblock %}


