{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div>
        <h2>Upload Book Data</h2>
    </div>
    
    <div class="row">
        <div class="col-4"> 
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>
        </div>
        <div class="col-sm"> 
        </div>
    </div>
    
    

</div>

{% endblock %}